.right
  .right__top
    .right__top--left
      .right__top--title
        group name
      .right__top--bottom
        message :
    .right__top--edit
      =link_to "Edit", "#", class: "right__top--btn"
        

  .right__content
    .right__content--text
      .right__content--name
        Name 
        %span 2019/10/03/13:11:11
      .right__content--message
        this is a first message

  .right__bottom
    .right__bottom--text
      .right__bottom--form
        = form_for [@group, @message] do |f|
          = f.text_field :content, id: "form", placeholder: 'Type a message' 
          = f.label :image, class: "label" do
            = icon('far', 'image', class: "icon")
            = f.file_field :image, class: "file"
          = f.submit 'Send', id: 'send'
        